body {
    /*max-width: 1000px;*/
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    background-color: #eaeaff;
    color: #444;
}

#main-container {
    display: flex;
    flex-direction:row;
}
#main-tag {
    max-width: 800px;
}
#profile {
    width: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
#profile-desc {
    display: flex;
    flex-direction: column;
}
#profile-pic {
    /* Cherif, via https://stackoverflow.com/a/15501985 */
    width: auto;
    height: auto;
    max-width: 175px;
    max-height: 175px;
    border-radius:50%;
    margin-right: 1em;
}
#history, #skills {
    margin-bottom: 3em;
}
.tableheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted black; 
}
.notop {
    margin-top: 0;
}
.nobottom {
    margin-bottom: 0;
}

#sidebar {
    max-width: 200px;
    border-left: 1px dotted grey;
    margin-left: 2em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sidebar > ul {
    list-style-type: disc;
    padding-left: 20px;
}
#sidebar > ul > li {
    margin-bottom: 3em;
}
